@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    @apply bg-cover bg-center bg-no-repeat bg-fixed backdrop-blur-sm h-4 ;
    background-image: url('https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
} */
/* body{
    background-image: url('https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    @apply bg-cover bg-center bg-no-repeat bg-fixed backdrop-blur-2xl;
    /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent overlay */
    /* filter: brightness(1) 
    @apply backdrop-blur-3xl; Apply blur effect }
    
*/
/* 
*{
    background-color: #565555;
} */